<!DOCTYPE html>
<html>
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Blockchain, Web Development, Backend Development, Frontend Development, NFT, Crypto, Token, Web Scraping">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Grayrids">
  <title>HundredPad</title>
  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main/error404.css' %}">
  <script src="{% static 'main/js/error404.js' %}"></script>
  <script src="https://kit.fontawesome.com/c66d59c3a5.js" crossorigin="anonymous"></script>
</head>



<body style="background-color:#302C2C">
  <div class="text">
    <div>ERROR</div>
    <h1>404</h1>
    <hr>
    <div>PAGE NOT FOUND</div>
  </div>

  <div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
  </div>
</body>

</html>  