@font-face {
    font-family: 'FiraCode-Regular';
    src: url('fontfamily/FiraCode-Regular.ttf');
}
@font-face {
    font-family: 'FiraCode-Medium';
    src: url('fontfamily/FiraCode-Medium.ttf');
}
@font-face {
    font-family: 'FiraCode-SemiBold';
    src: url('fontfamily/FiraCode-SemiBold.ttf');
}
@font-face {
    font-family: 'FiraCode-Bold';
    src: url('fontfamily/FiraCode-Bold.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'FiraCode-Regular';
    background: #180F31;
}
/*********** Header ******/
.mynav{
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, #3D3456 , #3D374E);
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}
.mynav .navbar-right {
    margin-top: 5px;
}
.mynav .navbar-right li{
    margin-right: 10px;
}
.mynav .navbar-right li a {
    color: #00FFE0;
    font-size: 15px;
    transition: 300ms ease-out !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mynav .navbar-right li a:hover{
    color: #FF84F3;
    background: none;
}
.mynav .dropdown-menu{
    background-image: linear-gradient(to right, #3D3456 , #3D374E);
    margin-top: 20px !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: none !important;
    color: #FF84F3 !important;
}
.loginBtn {
    background: radial-gradient(110.67% 3206.88% at 2.77% 24.47%, #FFFFFF 0%, #FF84F3 100%) !important;
    border-radius: 20px;
    padding: 10px 30px !important;
    margin-top: 5px;
    color: #291A54 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'FiraCode-SemiBold';
}
.logo {
    height:60px;
}
.banner{
   /* background: url(../images/banner-home.png);
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}
.staking-token{
    max-width: 650px;
    margin: auto;
}
.staking-token h2{
    text-align: center;
    color: #fff;
    font-size: 44px;
    margin-bottom: 25px;
    font-family: 'FiraCode-Medium';
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7), 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.staking-token .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.staking-token .d-flex .form-control{
    width: 220px;
    background: none;
    border: 3px solid #00FFE0;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 2px rgba(0, 255, 224, 0.7);
    border-radius: 12px;
    color: #fff;
    margin-right: 15px;
}
.mt30{
    margin-top: 30px;
}


.staking-token .btn-staking{
    background: radial-gradient(110.67% 3206.88% at 2.77% 24.47%, #FFFFFF 0%, #FF84F3 100%);
    border-radius: 20px;
    padding: 6px 35px !important;
    margin-top: 0px;
    color: #291A54 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: 'FiraCode-Medium';
}
.staking-token p{
    margin-top: 20px;
    color: #00FFE0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 32px;
}
.staking-token p .caps{
    text-transform: uppercase;
}
/***** project-section *******/
.project-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.project_sectionBox{
    background-image: linear-gradient(to right, #271B49 , #221E2D);
    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.25);
    padding: 25px 30px;
    border-radius: 33px;
}
.project-section h2{
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7), 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    font-size: 38px;
    font-family: 'FiraCode-Medium';
}
.projectBox{
    border: 3px solid #62FFED;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #251D3B , #47396C);
    padding: 16px 20px;
    border-radius: 18px;
    margin-bottom: 30px;
    cursor: pointer;
}
.projectBox .d-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.projectBox .media .media-body{
    padding-top: 12px;
    padding-left: 5px;
    width: auto;
}
.projectBox .media .media-body h4{
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7), 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-family: 'FiraCode-Medium';
}
.projectBox p{
    font-size: 18px;
    line-height: 28px;
    color: #00FFE0;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.token_number{
    margin-top: 25px;
}
.token_number h5{
    font-size: 14px;
    font-family: 'FiraCode-Medium';
    line-height: 20px;
    color: #FF84F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.social-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-link ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social-link ul li{
    display: inline;
    margin-right: 15px;
}
.social-btn .btn-staking{
    background: radial-gradient(110.67% 3206.88% at 2.77% 24.47%, #FFFFFF 0%, #FF84F3 100%);
    border-radius: 3px;
    padding: 6px 20px !important;
    color: #291A54 !important;
    font-family: 'FiraCode-Medium';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.text-flex .progress-text{
    font-size: 14px;
    line-height: 12px;
   /* identical to box height */
    color: #00FFE0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    cursor: pointer;
}
.text-flex .progress-perc{
    margin-right: 50px;
}
.text-flex .progress-perc{
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress-section .progress{
    background-color: #291A54;
    height: 9px;
    border-radius: 25px;
    margin-bottom: 40px;
}
.project-section .progress-bar-info {
    background-color: #FF84F3;
    border-radius: 25px;
}
.text-middle {
    position: absolute;
    right: 5px;
    margin-top: -4px;
    color: #fff;
    font-size: 12px;
}
.modal-body .text-middle{
    right: -20px;
}
.coming-soon{
    padding-top: 10px;
}
.coming-soon h4{
    color: #fff;
    font-size: 30px;
    font-family: 'FiraCode-Medium';
    margin-bottom: 30px;
}
/*** Slider *****/
.owl-carousel .owl-nav {
    padding-top: 0.4em;
    font-family: sans-serif;
    font-size: 0.8em;
    display: block !important;
}
.owl-carousel .owl-nav > div {
    color: #FF84F3;
    font-size: 20px;
}
/* .owl-carousel .owl-nav .owl-prev {
    float: left;
}
.owl-carousel .owl-nav .owl-next {
    float: right;
}
*/
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-prev {
    right: -100px;
    margin-top: -30px;
}
.owl-carousel .owl-item img{
    display: inline !important;
    width: auto !important;
}
.owl-next {
    right: -100px;
}
/*** Slider *****/
.ticker-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
}
.carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
}
.carousel.vertical .carousel-inner > .item {
    width: auto;
    padding-right: 50px;
    transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.vertical .carousel-inner > .item {
        transition: 0.6s ease-in-out;
   }
    .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
        transform: translate3d(0, 100%, 0);
        top: 0;
   }
    .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
        transform: translate3d(0, -100%, 0);
        top: 0;
   }
    .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
        transform: translate3d(0, 0, 0);
        top: 0;
   }
}
.carousel.vertical .carousel-inner > .active, .carousel.vertical .carousel-inner > .next, .carousel.vertical .carousel-inner > .prev {
    display: block;
}
.carousel.vertical .carousel-inner > .active {
    top: 0;
}
.carousel.vertical .carousel-inner > .next, .carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel.vertical .carousel-inner > .next {
    top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
    top: -100%;
}
.carousel.vertical .carousel-inner > .next.left, .carousel.vertical .carousel-inner > .prev.right {
    top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
    top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
    top: 100%;
}
.carousel.vertical .carousel-control {
    left: auto;
    width: 50px;
    opacity: 1 !important;
    margin-right: -60px;
}
.carousel.vertical .carousel-control.up {
    top: 0;
    right: 0;
    bottom: 50%;
}
.carousel.vertical .carousel-control.down {
   /* top: 50%;
    */
    right: 0;
    bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev, .carousel.vertical .carousel-control .icon-next, .carousel.vertical .carousel-control .glyphicon-chevron-up, .carousel.vertical .carousel-control .glyphicon-chevron-down {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev, .carousel.vertical .carousel-control .glyphicon-chevron-up {
    left: 50%;
    margin-left: 0;
    top: 50%;
    margin-top: 0px;
    color: #FF84F3;
}
.carousel.vertical .carousel-control .icon-next, .carousel.vertical .carousel-control .glyphicon-chevron-down {
    left: 50%;
    margin-left: 0;
    top: 50%;
    margin-top: -20px;
    color: #FF84F3;
}
.carousel.vertical .carousel-control .icon-up, .carousel.vertical .carousel-control .icon-down {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
    content: "‹";
}
.carousel.vertical .carousel-control .icon-next:before {
    content: "›";
}
/***** project-section *******/
.footer{
    padding: 30px 0;
    padding-bottom: 0;
   /* background: rgba(62, 61, 66, 0.5);
    */
    background: url('/static/images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-light{
    padding-top: 5px;
    background: rgba(62, 61, 66, 0.5);
}
.footer .social-item{
    list-style-type: none;
    padding: 0;
}
.footer .social-item li{
    display: inline;
    margin-right: 15px;
}
#myModal .modal-content{
    box-sizing: border-box;
    background-image: linear-gradient(to right, #251D3B , #47396C);
    padding: 16px 20px;
    border-radius: 18px;
}
#myModal .modal-content .modal-header{
    border: 0 !important;
    padding-bottom: 0;
}
#myModal .modal-content .modal-header .close{
    opacity: 1;
    color: #fff;
}
#myModal .modal-content .media .media-body{
    padding-top: 5px;
    padding-left: 10px;
    width: auto;
}
#myModal .modal-content .media .media-body h4 {
    color: #00FFE0;
    text-shadow: 0px 0px 10px rgb(255 255 255 / 70%), 0px 0px 4px rgb(0 0 0 / 25%);
    font-size: 20px;
    margin-bottom: 20px;
}
#myModal .modal-content .media .media-body p{
    font-size: 13px;
    line-height: 24px;
    color: #00FFE0;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
#myModal .modal-content .progress {
    background-color: #291A54;
    height: 12px;
    border-radius: 25px;
    margin-bottom: 40px;
}
.modal-relative{
    position: relative;
    padding-right: 15px;
    width: 95%;
}
#myModal .modal-content .progress-bar-info {
    background-color: #FF84F3;
    border-radius: 25px;
}
#myModal .modal-content .social-flex{
    margin-top: 80px;
}
#myModal .modal-dialog{
    max-width: 500px;
}
/************ Extras ***********/
.btnStyle {
    transform: translateZ(0) !important;
    backface-visibility: hidden !important;
    transition: 300ms ease-out !important;
}
.btnStyle:hover {
    transform: scale(0.9) !important;
}
.btnStyle2 {
    transform: translateZ(0) !important;
    backface-visibility: hidden !important;
    transition: 300ms ease-out !important;
}
.btnStyle2:hover {
    transform: scale(1.1) !important;
}
.white {
    color: #fff !important;
}
.whiteMontbold {
    color: #fff;
    font-weight: bold;
}
.block{
    display: block;
}
@media only screen and (max-width: 767px){
    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
   }
    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
   }
    .navbar-toggle .middle-bar {
        opacity: 0;
   }
    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
   }
    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
   }
    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
   }
    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
   }
    .mynav .navbar-toggle{
        background: none !important;
        border: 0 !important;
        margin-top: 20px;
   }
    .mynav .icon-bar{
        background: #FF84F3 !important;
   }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0 !important;
   }
    .mynav .navbar-right{
        text-align: center;
   }
    .logo{
        margin-left: 15px;
   }
    .project-section h2{
        font-size: 20px;
   }
    .projectBox .media .media-body{
        padding-left: 3px;
   }
    .block{
        display: inline;
   }
    .social-btn .btn-staking{
        padding: 8px 22px !important;
        color: #291A54 !important;
        font-size: 12px;
   }
    .projectBox .media .media-body h4{
        font-size: 16px;
   }
    .coming-soon {
        padding-top: 20px;
   }
    .projectBox{
        margin-bottom: 30px;
   }
    .owl-carousel .owl-nav{
        display: none !important;
   }
    .mynav .dropdown-menu{
        text-align: center;
        margin-top: 0px !important;
   }
    .mynav .dropdown-menu li a{
        color: #00FFE0 !important;
   }
    .loginBtn{
        display: inline-block !important;
   }
    .staking-token h2{
        font-size: 34px;
   }
    .staking-token .d-flex .form-control{
        margin-right: 0;
   }
    .project-section {
        padding-top: 0;
   }
    .project_sectionBox{
        padding: 25px 15px;
   }
    .text-middle{
        right: -20px;
   }
    .carousel.vertical .carousel-control{
        margin-right: -15px;
   }
}
@media (min-width: 768px) and (max-width: 991px){
    .logo {
        height: 60px;
   }
    .mynav .navbar-right li {
        margin-right: 0;
   }
    .mynav .navbar-right li a{
        font-size: 13px;
        padding-right: 10px;
        padding-left: 10px;
   }
    .carousel.vertical .carousel-control{
        margin-right: -30px;
   }
    .projectBox .media .media-body h4{
        font-size: 18px;
   }
    .loginBtn{
        padding: 8px 20px !important;
   }
    .project-section h2{
        font-size: 16px;
   }
    .projectBox .media .media-body{
        padding-left: 0;
   }
    .block{
        display: inline;
   }
    .projectBox p{
        font-size: 12px;
        line-height: 23px;
   }
    .social-btn .btn-staking{
        padding: 8px 20px !important;
        font-size: 10px;
   }
    .owl-carousel .owl-nav{
        display: none !important;
   }
   .text-middle{
        right: 15px;
    }
    .modal-body .text-middle{
        right: -20px;
    }

}
@media (min-width: 992px) and (max-width: 1199px){
    .logo {
        height: 65px;
   }
    .mynav .navbar-right li {
        margin-right: 0;
   }
    .mynav .navbar-right li a{
        font-size: 15px;
   }
    .owl-carousel .owl-nav{
        display: none !important;
   }
    .carousel.vertical .carousel-control{
        margin-right: -30px;
   }
   .modal-body .text-middle{
        right: -20px;
    }
}
@media (min-width: 1480px) and (max-width: 5120px){
}
